inference-client-website/node_modules/
inference-client-website/static/jquery/
.devcontainer/
inference-client/audios/
**/__pycache__/*
deployed_models/
.DS_Store
wav2vec/.eggs
wav2vec/build
wav2vec/fairseq/libbleu.cpython-37m-darwin.so
wav2vec/fairseq/libbleu.cpython-38-darwin.so
wav2vec/fairseq/libnat.cpython-37m-darwin.so
wav2vec/fairseq/libnat.cpython-38-darwin.so
wav2vec/fairseq/data/data_utils_fast.cpython-37m-darwin.so
wav2vec/fairseq/data/data_utils_fast.cpython-38-darwin.so
wav2vec/fairseq/data/token_block_utils_fast.cpython-37m-darwin.so
wav2vec/fairseq/data/token_block_utils_fast.cpython-38-darwin.so
inference-client/static/main.js
