<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Wav2Vec Demo</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .btn-bs-file {
      position: relative;
      font-size: 16px;
      width: 200px;
    }

    .btn-bs-file input[type="file"] {
      position: absolute;
      top: -9999999;
      filter: alpha(opacity=0);
      opacity: 0;
      width: 0;
      height: 0;
      outline: none;
      cursor: inherit;
    }

    .row {
      padding: 15px;
      margin: 15px;
      border: 2px black solid;
    }

    .btn {
      width: 200px;
    }
  </style>

  <script type="text/javascript">
    var reader; //GLOBAL File Reader object for demo purpose only

    /**
     * Check for the various File API support.
     */
    function checkFileAPI() {
      if (window.File && window.FileReader && window.FileList && window.Blob) {
        reader = new FileReader();
        return true;
      } else {
        alert('The File APIs are not fully supported by your browser. Fallback required.');
        return false;
      }
    }

    /**
     * read text input
     */
    function readText(filePath) {
      var output = ""; //placeholder for text output
      if (filePath.files && filePath.files[0]) {
        reader.onload = function (e) {
          output = e.target.result;
          displayContents(output);
        };//end onload()
        reader.readAsText(filePath.files[0]);
      }//end if html5 filelist support
      else if (ActiveXObject && filePath) { //fallback to IE 6-8 support via ActiveX
        try {
          reader = new ActiveXObject("Scripting.FileSystemObject");
          var file = reader.OpenTextFile(filePath, 1); //ActiveX File Object
          output = file.ReadAll(); //text contents of file
          file.Close(); //close file "input stream"
          displayContents(output);
        } catch (e) {
          if (e.number == -2146827859) {
            alert('Unable to access local files due to browser security settings. ' +
              'To overcome this, go to Tools->Internet Options->Security->Custom Level. ' +
              'Find the setting for "Initialize and script ActiveX controls not marked as safe" and change it to "Enable" or "Prompt"');
          }
        }
      }
      else { //this is where you could fallback to Java Applet, Flash or similar
        return false;
      }
      return true;
    }

    /**
     * display content using a basic HTML replacement
     */
    function displayContents(txt) {
      var el = document.getElementById('source');
      el.innerHTML = txt; //display output in DOM
    }   
  </script>

</head>

<body onload="checkFileAPI();">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Speech to Text</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Speech to Text
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div> -->
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row" style="border: 0px;">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">
          <div class="file-upload-wrapper">

          </div>
        </h1>

        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6">
              <label class="btn-bs-file btn btn-lg btn-primary">
                Choose Audio File
                <input type="file" id="rll" />
              </label>
            </div>
            <div class="col-sm-6">
              <audio id="rllly" controls>
                <source src="" id="rlly" />
              </audio>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-6">
              <label class="btn-bs-file btn btn-lg btn-primary">
                Choose Text File
                <input type="file" onchange='readText(this)' />
              </label>
            </div>
            <div class="col-sm-6" id="source">

            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <button class="btn btn-primary" id="sub"> Run Model</button>
            </div>
            <div class="col-sm-6" id="result">

            </div>
          </div>
        </div>

        <div id='loader' style='display: none;'>
          <img src='/static/reload.gif' width='320px' height='320px'>
        </div>


        <!-- Bootstrap core JavaScript -->
        <script src="/static/vendor/jquery/jquery.js"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



        <script>
          var fd = new FormData();

          function handleFiles(event) {
            var files = event.target.files;
            localStorage.setItem('audio', JSON.stringify(files[0]))
            console.log(files[0])
            $("#rlly").attr("src", URL.createObjectURL(files[0]));
            document.getElementById("rllly").load();

            fd = new FormData();

            fd.append("file", files[0]);



          }

          document.getElementById("rll").addEventListener("change", handleFiles, false);


          $(document).ready(function () {
            $("#sub").click(function () {
              console.log('called');
              var element = document.getElementById("result")
              element.innerText = ""
              $.ajax({
                type: 'POST',
                url: 'http://34.70.114.226:8000/transcribe',
                data: fd,
                contentType: false,
                processData: false,
                crossDomain: true,
                beforeSend: function () {
                  // Show image container
                  $("#loader").show();
                },
                success: function (data, textStatus, jqXHR) {
                  console.log(data);
                  //alert('Stock updated successfully. Status: '+textStatus);
                  try {
                    var final_ = data['transcription']
			    var text = ''
			    var element = document.getElementById("result")
console.log(final_[0])
console.log(final_[0].length)
			    if(final_.length >1){console.log('here 2')
			    text = final_
				    console.log(text)
				    console.log('here')
				    element.innerText = text
			    }
			    else{
				    console.log('in second')
				    element.innerText = final_
			    }
			//console.log(final_[0]);
                    //var element = document.getElementById("result")
                    //element.innerText = final_[0];
                  }
                  catch (err) { }
                  $("#loader").hide();
                  //$("#result").text(data[final_[0]]);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                  alert('update Stock error: ' + textStatus);
                  $("#loader").hide();
                }

              });




            });
          });
        </script>
</body>

</html>
